@font-face {
  font-family: "vazir";
  font-weight: 400;
  font-style: normal;
  src: url("/src/assets/fonts/Vazir.woff") format("woff");
}

@font-face {
  font-family: "vazir";
  font-weight: 700;
  font-style: normal;
  src: url("/src/assets/fonts/Vazir-Bold.woff") format("woff");
}

button,
body,
ul,
li {
  font-family: "vazir";
}

.font-vazir {
  font-family: "vazir";
}

a.active {
  font-weight: 700;
  color: white;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #191219),
    url("/src/assets/Images/phone-back-top.jfif");
}

.background-footer {
  background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #191219),
    url("/src/assets/Images/footer-f.jfif");
}

.background-burger-menu {
  background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #191219),
    url("/src/assets/Images/burger-menu.jfif");
}

.form-control:focus,
.form-control:active,
.form-control {
  background: transparent;
}

.zIndex {
  z-index: 1000 !important;
}

/* CSS سفارشی برای مخفی کردن اسکرولبار */
.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-curser {
  cursor: ew-resize;
}
